.chat-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}

.chat-message-list {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}