<div class="flex flex-column justify-content-between camera-container" style="height: 100%;">
    <webcam [trigger]="triggerObservable"
        (imageCapture)="imageHandler($event)"
        *ngIf="!webcamImage">
    </webcam>
    <img *ngIf="webcamImage" height="480" width="640" [src]="webcamImage.imageAsDataUrl"/>
    <div class="flex justify-content-end">
        <button pButton icon="pi pi-camera" class="button-primary-negative" label="Tirar Foto" (click)="takeAPicture()"></button>
    </div>
</div>