<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>IA.GRO</h2>
        <form id="login-form">
            <input type="email" id="email" placeholder="E-mail"><div class="password-container">
              <input type="password" id="password" placeholder="Senha">
              <button type="button" id="toggle-password">Show</button>
          </div>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
