@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
  font-family: 'Karla', sans-serif;
}

html, 
body {
  font-family: "Karla", sans-serif;
}

